*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}


#navbar {
    display: flex;
    position:sticky;
    /* position: absolute; */
    /* justify-content: center; */
    align-items: center;
}
#navbar ul{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
#navbar::before{
    content: "";
    position: absolute;
    background-color: black;
    top: 0px;
    left: 0px;
    height: 90%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
#navbar ul li a {
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
    padding: 11px;
    margin: 12px;
    color: rgb(255, 249, 249);
    /* align-items: center; */
}
#navbar ul li {
    list-style-type: none;
    font-size: 1.1rem;
    align-items: center;
}
#navbar ul li a:hover {
    color: black;
    background-color: white;
    border-radius: 32px;
}

#logo {
    position: absoltue;
    margin: 5px;
    margin-right: 107px;
    padding: 15px;
}
#logo img{
    height: auto;
    width: 85px;
    margin-top: -11px;
}

#right{
    position: absolute;
    right: 81px;
    top: 34px;
}
.talk{
    font-family: 'Ubuntu', sans-serif;
    padding: 12px;
    margin: 2px;
    font-size: 1.1rem;
    border-radius: 13px;
    border:none;
    /* background-color: none; */
    color: rgba(255, 164, 164,1);
    background-color: rgba(0, 0, 0, 0.0);
}

.talk:hover{
    cursor: pointer;
    background-color:white;
    color: black;
}

#home{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 23px;
    padding: 23px;
    height: 233px;
    flex-direction: column;
}

.center{
    text-align: center;
    padding: 23px;
    font-family: 'Bree Serif', serif;
    /* justify-content: center; */
}

#home h1{
    font-size: 3.3rem;
    color: #16149f;
}

#home p{
    color:#0e5180;
}

#home::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    /* background:url(imgs/bg.jpg) no-repeat center center/cover; */
    background-color: #3dbcc2;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

.btn{
    font-size: 14px;
    padding: 18px;
    margin: 22px;
    border-radius: 13px;
    background-color: rgb(0, 74, 211);
    border:none;
    color: wheat;

}
.btn:hover{
    background-color: chocolate;
    color: black;
    cursor: pointer;
    background-color: rgba(0, 74, 211, 0.7);
}

#aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cedfff;
    /* position: absolute; */
}

#aboutme h1{
    font-size: 2.1rem;
}

#skills{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

#skills h2{
    font-family: 'Roboto Slab', serif;
}

#skills .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2px;
    margin: 11px;
    background-color: #ece1f7;
    border:2px solid tomato;
    border-radius: 23px;
}


#aboutme .intro p{
    font-family: 'Roboto Slab', serif;

    font-size: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
}

.intro video{
    height: 200px;
    width: auto;
    padding: 33px;
    margin: -14px;

}

#skills .box p{
    font-size: 1.2rem;
    padding: 33px;
}

#skills .box img{
    display: block;
    height : 76px;
    width: auto;
}

.intro{
    display: flex;
    flex-direction: column;
}


#mywork h1{
    font-size: 2.1rem;
}
#mywork .heading p{
    text-align: center;
    margin-bottom: 12px;
}

#work1::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    /* top: 0px;
    left: 0px; */
    background:url(imgs/girl-3253532_1920.jpg) no-repeat center center/cover;
    z-index: -1;
    opacity: 0.45;
}

#work1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#work1 h2{
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;

}

#work1 .projects{
    margin: 100px 140px;
    padding: 23px 23px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#work1 .projects img{
    opacity: 0.9;
    margin: 33px;
    width: 150px;
    height: auto;
}

#work1 .projects .whatisit{
    margin: 23px 34px;
    padding: 23px 23px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
#work2::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    /* top: 0px;
    left: 0px; */
    background:url(imgs/bg.jpg) no-repeat center center/cover;
    z-index: -1;
    opacity: 0.7;
}

#work2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#work2 h2{
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;

}

#work2 .projects{
    margin: 100px 140px;
    padding: 23px 23px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#work2 .projects img{
    opacity: 0.9;
    margin: 33px;
    width: 150px;
    height: auto;
}

#work2 .projects .whatisit{
    margin: 23px 34px;
    padding: 23px 23px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects p{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 0.9rem;
}

.projects p a{
    text-decoration: none;
}
.projects p a:hover{
    color: #ffdddd;;
}

.whatisit h2{
    color: rgb(74 30 79);
}
.whatisit p{
    color: white;
}

#contactme::before{
    content: "";
    position: absolute;
    /* top: 0px;
    left: 0px; */
    height: 40%;
    width: 100%;
    background: url(imgs/contactme.png) no-repeat center center/cover;
    z-index: -1;
    opacity: 0.2;
}

#contactme{
    color: #766868;
}
#contactme h1{
    color: black;
}

h3, h4{
    padding: 13px;
    font-family: 'Baloo Tamma 2', cursive;
}

#contact-details{
    margin: 0px 23px;
    padding: 0px 33px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
/* #contact-details .contacts{
    padding: 0px 23px;
    margin: 0px 23px;
} */

.contacts{
    display: flex;
    flex-direction: column;
    padding: 0px 23px;
    margin: 0px 23px;
    justify-content: center;
    align-items: center;
}

#follow{
    display: flex;
    justify-content: center;
    align-items: center;
}

#follow h2{
    color: black;
    font-size: 20px;
    font-weight: 100px;
}

#follow img{
    padding: 5px 11px;
    height: 25px;
    width: auto;
    filter: invert(57%);
}